body {
  background-color: black;
}
ul {
  background-color: #CB4154; /*red brick*/
  margin: 0;
}

li {
  display: inline-block;
  padding: 10px;
  margin-left: 50px;
  list-style: none;
  font-size: 18px;
}

a {
  color: whitesmoke;
  padding: 10px;
}

a:hover {
  color: plum;
}

div {
  margin-left: 180px;
}

img {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid white;
}

.close {
    position: absolute;
    top: 55px;
    margin-left: 15px;
    color:  white;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

button {
  height: 30px;
  width: 310px;
  margin-top: 20px;
  background-color: #CB4154; /*red brick*/
  border-color: grey;
  color: white;
  font-size: 16px;
}

p {
  color: white;
}

.text {
  display: inline-block;
  margin-left: -20px;
  margin-right: 100px;
}
